<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the CSS files for styling -->
    <link rel="stylesheet" href="/stylesheets/register.css" />
    <title><%=forumName%> registerd page</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="title">
          <h1>Thank you for registering at <%=forumName%></h1>
          <!-- home page redirection -->
          <h3>Log in <a href="/">here</a></h3>
        </div>
      </div>
    </div>
  </body>
</html>
